body {
  background-image: linear-gradient(to right, #2bc286, #2B68C2,#592bc2);
  color: #D8D8D8;
  width: auto;
}

#user_options {
  background-color: none;
  background: none;
  border-style: none;
  color: #D8D8D8;
}
.dropdown {
  background-color: none;
  width: 100px;
}

.dropdown-content {
  display: none;
  width: 100px;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: #A6D43D;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #user_options {
  background: rgba(245,245,245, 0.8);
  color: #D43D79;
}

.dropdown .user_options:hover {
  background: rgba(212,61,121,0.3);

}


h1 {
  color: #D8D8D8;;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.jumbotron {
  background-color: #148CE9;
  text-align: center;
}

.registration {
  float: right;
  padding: 20px;
}

.show {
  display: block;
}

p.quote {
  font-size: 25px;
  color: white;
  border-style: solid;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-right-style: hidden;
  border-color: black;
  border-width: 6px;
}

footer.blockquote-footer{
  color: lightgrey;
  font-size: 13px;
}

.jumbotron.forms {
  margin-top: 0px;
  background-image: linear-gradient(to right, #A6D43D, #D4973D,#D43D79);
  text-align: center;
}

.food_image {
  min-width: 300px;
  min-height: 190px;
  background-image: url("food.jpg");
  background-size: 300px 190px;
  background-repeat: no-repeat;
  filter: grayscale(35);
}

.family_image {
  min-width: 300px;
  min-height: 250px;
  background-image: url("family.jpg");
  background-size: 300px 250px;
  background-repeat: no-repeat;
  margin-right: 30px;
}

.images span {
  position: relative;
  margin-bottom: 0px;
  font-size: 10px;
  text-align-last: center;
}

p.click {
  border-radius: 10px;
  border: 3px;
  padding-left: 10px;
  width: 170px;
  border-color: inherit;
  border-style: solid;
}

p.medium {
  border-radius: 10px;
  border: 1px;
  padding-left: 10px;
  width: 154px;
  border-color: inherit;
  border-style: solid;
}

p.smaller {
  border-radius: 10px;
  border: 1px;
  padding-left: 10px;
  width: 120px;
  border-color: inherit;
  border-style: solid;
}

p.smallmed {
  border-radius: 10px;
  border: 1px;
  padding-left: 10px;
  width: 130px;
  border-color: inherit;
  border-style: solid;
}

.notice {
  text-align: center;
  max-height: 50px;
  background-image: linear-gradient(to right, #A6D43D, #D4973D,#D43D79);
  font-size: 20px;
}

input {
  background-color: #BED6FF;
  border-radius: 10px;
}

textarea {
  background-color: #BED6FF;
  border-radius: 10px;
  min-height: 170px;
}

select {
  background-color: #BED6FF;
  border-radius: 10px;
}

.forms {
  margin-top: 100px;
  text-align: center;
}

.views {
  margin-top: 35px;
  text-align: center;
}

.views .greenrow {
  margin-top: 50px;
  margin-left: 8vw;
}

.views .purple {
  margin-top: 50px;
}

.views .purple p{
  margin-left: 70px;
}

a {
  color: #D8D8D8;
}

li {
  color: #D8D8D8;
}

.blue a:hover {
  color: #c28d2b;
}

.green a:hover {
  color: #c2422b;
}

.purple a:hover {
  color: #A6D43D;
}
.products {
font-size: 25px;
}

.info {
font-size: 20px;
}

span.info {
font-weight: 1000;}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  margin: 20px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon, .rating:hover label:hover input ~ .icon {
  color: #D4AF37;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #D4AF37;
}

.stars {
  font-size: 30px;
  color: gold;
  padding: 10px 15%;
}

.stars span {
  font-size: 20px;
  color: black;
  padding: 13px;
}

.green {
  margin-left: 8vw;
  margin-top: 20px;
}

.green .viewall{
  margin-left: 10%;
}

.story {
  font-size: 18px;
  text-align: center;
}

.sides {
  text-align: center;
}

.sides p {
  font-size: 18px;
}

h5 b {
  text-decoration: underline;
}

.purple .sides {
  margin-left: 8vw;
  margin-top: 20px;
}


.center {
  margin: 0px 30%;
}

.centered {
  margin: 0px 35%;
}

.small {
  margin-bottom: 0px;
  font-family: cursive;
  color: grey;

}


i.center{
  margin-left: 15%;
  text-align: center;
  color: #7C000A;
}

img {
  border-radius: 150px;
  padding: 5px;
}

.image {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-family: cursive;
}

#review_content {
  background-color: ;
  width: 300px;
  height: 100px;
  color: purple;
}

.blue p.click:hover {
  border-color: #c28d2b;
}

.green select:hover {
  background-color: #c2422b;
}


.green p.click:hover {
  border-color: #c2422b;
}

.field_with_errors input {
  border-style: solid;
  border-color: red;
}

.field_with_errors textarea {
  border-style: solid;
  border-width: thick;
  border-color: red;
}


::selection {
  background: #D4973D;
  color: #272727;
}
